<!-- GPA Description Section -->
<section id="gpa">
    <div class="container">
        <div class="row" style="margin-bottom:30px;">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The GPA project</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom:30px;">Making analysis fun!</h3>
                <p style="text-align:left;">
                    Program analysis tools have well-documented usability issues, sometimes causing tool abandonment and the deploument of bugged or insecure code. In this project, we explore how to build analysis tools that help code developers understand and fix complex bugs through an engaging, user-friendly GUI.
                    To this effect, we identify gaming aspects that encourage player motivation, and transfer them to analysis tools.
                    In particular, we focus on three aspects:
                </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-fast-forward fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsiveness</h4>
                <p class="text-muted">Program analyses can take a long time to compute warnings. We research how to provide immediate visual feedback when the user interacts with the tool.</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Explainability</h4>
                <p class="text-muted">We explore how to explain complex bugs and analysis notions to the code developer without confusing them.</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Visual motivators</h4>
                <p class="text-muted">We investigate how to challenge and motivate code developers through incentives (badges, points, etc.) to develop collaborative problem-solving.</p>
            </div>
        </div>
    </div>
</section>
